{% extends 'base_extend.html' %}
{% load static %}
{% block body %}
{% if not user.is_authenticated %}

<br><br><br><br>

<img src="{% static 'images/decide.jpg' %}" alt="Decide" height="400" width="400" class="center img-fluid" />

<br><br><br>

<div class="container-login100-decide-btn m-t-17">
	<button value="Log in" onclick="document.location.href='/authentication/loginUser'" class="btn-google center" style="width:10%">
		Log In
		</button>
	</br>
	<button value="Sign in" onclick="document.location.href='/authentication/createUser'" class="btn-google center" style="width:10%">
		Sign In
		</button>
	</div>
{% endif %}

{% if user.is_authenticated %}

<br><br><br><br>

<div class="container-login100-decide-btn m-t-17">
	<h1 class="jumbotron">Welcome {{user}}!</h1>
	</div>

{% endif %}
{% endblock %}
